*{
  box-sizing: border-box;
}

h1, h2,h3,h4,h5,h6, p{
  margin: 0;
}
button{
  box-shadow: none;
  border: none;
  outline: none;
  
}
header{
  grid-area: header;

height: 60px;

background: #FFFFFF;
box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1)
}
main{
  grid-area: main;
height: 1328px;
left: 0px;
top: 60px;
}
footer{
  grid-area: footer;
  // position: absolute;
width: auto;
height: 60px;
// left: 0px;
// top: 1388px;

background: #FFFFFF;
box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}
