<div class="headerContent">
    <div class="logo">
        <div class="logo-content">
            <img src="../assets/brain.svg" alt="brain">
            <a routerLink="popular">MASTERMINDS</a>
        </div>
    </div>
    <div class="pages">
        <ul class="list" >
            <li *ngIf="userAutorize" id="favorit"><a routerLink="favorites">Favorites</a> </li>
            <li routerLink="search" id='search' >Search</li>
            <li id='about'>About us</li>
            <button id="log" (click)="login()" *ngIf="!userAutorize"><a>Log in</a> </button>
            <button id="sign"(click)="signUp()" *ngIf="!userAutorize"><a>Sign up</a> </button>   
            <button id="profile" *ngIf="userAutorize"><a routerLink="profile"> Profile</a> </button>
            <button id="sign" (click)="logOut()" *ngIf="userAutorize"><a>Log out</a> </button>
        </ul>
    </div>
</div>
        <app-modal
                *ngIf="modal"
                (close)="modal = false"
                [type]="type"
                [title]="title"
        ></app-modal>
    