<!-- <div class="userInfo">
  <div class="userCard" >
    <user-card class="s" type="small" [user]="user$ | async"></user-card>
 </div>
  <div class="userProfile">
    <h3>Professional aspects</h3>
    <button>Mental health</button>
    <button>Physical health</button>
    <button>Well-being</button>
    <div class="profile">
      <h4>Profile</h4>
      <p>{{(user$|async).description}} </p>
    </div>
    <div class="reviews">
      <h4>Reviews</h4>
    </div>
  </div>
</div> -->

<user-card [classType]='false' type="large" [user]="user$ | async"></user-card>